.categories {
    display: flex;
    padding-left: 0;
    list-style: none;
    overflow: auto;
    margin-bottom: 40px;
    &::-webkit-scrollbar { 
        width: 0;
    }
    button {
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        background-color: #f9f9f9;
        padding: 13px 30px;
        border-radius: 30px;
        margin-right: 10px;
        border: none;
        transition-duration: 0.2s;
        transition-property: opacity;;
        &:not(.active):hover {
            opacity: 0.5;
        }
        &.active {
            background-color: #282828;
            color: #fff;
        }
    }
}
