.sort {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    &__label {
        font-size: 16px;
        line-height: 1em;
        display: flex;
        align-items: center;
        &.active {
            svg {
                transform: rotate(0);
            }
        }
        svg {
            transform: rotate(180deg);
        }
        b {
            padding: 0 5px;
        }
        button {
            cursor: pointer;
            font-size: 16px;
            color: #fe5f1e;
            padding: 0;
            background-color: transparent;
            border: none;
            border-bottom: 1px dashed #fe5f1e;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
    &__popup {
        position: absolute;
        right: 0;
        margin-top: 25px;
        background: #ffffff;
        -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.09);
        box-shadow: 0px 5px 15px rgba(0,0,0,0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;
        button {
            cursor: pointer;
            font-size: 16px;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: 12px 20px;
            background-color: transparent;
            border: none;
            &:hover {
                background-color: rgba(254,95,30,0.05);
            }
            &.active {
                font-weight: bold;
                color: #fe5f1e;
                background-color: rgba(254,95,30,0.05);
            }
        }
    }
}
